# CODEOWNERS for mlieberman85/wtf-frontend
#
# This file defines who is responsible for code in this repository.
# These owners will be automatically requested for review when someone
# opens a pull request that modifies code they own.
#
# For more information, see:
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
#

# Default owners for everything in the repo
* @mlieberman85
